data/*/raw/*
data/*/marl_results/*
data/*/processed/*

notebooks/lightning_logs
notebooks/plots/*
notebooks/plots

.venv/

**/__pycache__/
**/*.pyc

src/__pycache__
marl_results/*

Output_*.err
Output_*.out

.vscode/
.DS_Store